.active {
  display: block;
}

.glyphicon {
  font-size: 40px; 
}

body {
  position: relative;
  display: block;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0; 
  display: block;
  z-index: 1;
  background-color:#f9f9f9;
  overflow-y: hidden;
}

.nav-tabs {
  display: inline-block;  
}

.nav-item {
  background-color:#f9f9f9;
  color: black;
  padding-left: 10px;
  padding-right: 10px; 
}

.list-group {
  position: absolute;
  top: 98px;
  display: block;
  overflow: scroll;
  width: 100%;

}

.list-group-item {
  background-color: #E8E0F4;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;

  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
  width: 100%;  
}

.list-group-item > .glyphicon {
  font-size: 20px;
  display: inline-block;
  vertical-align: middle;
  
}

#playlistbutton {
  width: 80%;
  background-color: black;
  border-radius: 4px;
  vertical-align: middle;
  /* display: inline-block; */
  padding-bottom: 4px;
  padding-top: 4px;
}

#playlistbutton > .glyphicon {
  font-size: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.grey-chevron {
  color: gray;
  float: right;
  margin-top: 6px;
  margin-right: 12px;
}

.black {
  color: black;
}

.white-cross {
  color: white;
}

.playlistbuttoncontainer {
   background-color: #E8E0F4;
   padding-top: 10px;
   padding-bottom: 10px; 
}


#greyrectangle {
  width: 50px;
  height: 40px;
  background: grey;
  display: inline-block;
  vertical-align: middle;
  margin-left: 30px;
  margin-right: 40px; 
  border-radius: 4px;   
}